# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    name: setup verdaccio
    services:
      verdaccio:
        image: verdaccio/verdaccio:5
        ports:
          - 4873:4873
    strategy:
      matrix:
        node-version: [17.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: login    
      run: npx npm-cli-login -u test -p 1234 -e test@domain.test -r http://localhost:4873
    - name: publish
      run: npm publish --registry http://localhost:4873
    - name: check
      run: npm info e2e-ci-example-gh-actions --json --registry http://localhost:4873  
    - name: install global
      run: npm install -g e2e-ci-example-gh-actions --registry http://localhost:4873
    - name: run global package
      run: e2e-ci-example-gh-actions 